.black{
    height: 150px;
    display: flex;
}

.agn, .cpn{
    width: 50%;
    position: relative;
    height: 120px;
    display: flex;
    margin: 0;
}

.agn{
    background-color: #282434;
}

.cpn{
    background-color: #181726;
}

.txt-area{
    margin: auto 50px;
    text-align: justify;
    color: #ffffff;
}

@media (max-width: 990px) {
    .black{
        display: none;
    }
}