.black{
    /* height: 150px; */
    /* display: flex; */
    justify-content: space-around;
}

.agn, .cpn{
    /* width: 50%; */
    height: 120px;
    display: flex;
    margin: 0;
}

.agn{
    background-color: #282434;
}

.cpn{
    background-color: #181726;
}

.black-pic{
    margin: auto 20px;
}

.txt-area{
    margin: auto 20px auto 0;
    text-align: justify;
    color: #ffffff;
}

.txt-area p{
    margin: auto;
}

@media only screen and (max-width: 1030px){

    .txt-area h4{
        font-size: 1.3rem;
    }

    .txt-area p{
        font-size: 1rem;
    }

    .black-pic img{
        width: 80%;
    }
}

@media only screen and (max-width: 649px){

    .txt-area h4{
        font-size: 1rem;
    }

    .txt-area p{
        font-size: 0.7rem;
    }

    .black-pic img{
        width: 60%;
    }
}