
.aboutUs_main{
    margin-top: 90px;
    scroll-behavior: smooth; 
}
.aboutText{
    padding: 70px;
}
.aboutText .title_aboutus{
    width: 200px;
    rotate: 270deg; 
    margin-left: -50px;
    /* display: flex; */
    margin-top: 70px;
    color: #00908E;
    font-weight: 800px;
}

.aboutText .title_aboutus_2{
    width: 200px;
    rotate: -270deg; 
    margin-left: -70px;
    /* display: flex; */
    margin-top: 70px;
    color: #00908E;
    font-weight: 800px;
}

/* .aboutText .title_aboutUs_2{
    margin-right: -50px;
    rotate: -270deg;
    width: 200px;
    background-color: red;
    margin-top: 70px;
    color: #00908E;
    font-weight: 800px;
} */
.aboutTextP p{
    text-align: justify;
    font-weight: 400;
    font-size: 1rem;
    line-height: 22px;
    color: black;
    font-style: normal;

}
.aboutImage img{
    height: 434px;
    object-fit: cover;
    width: 100%;
    
}

@media only screen and (min-width: 650px) and (max-width: 1030px) {

    .title_aboutus, .title_aboutus_2{
        font-size: 2rem;
    }

    .aboutTextP p{
        font-size: 0.8rem;
    }

}

@media only screen and (min-width: 430px) and (max-width: 649px) {

    .title_aboutus, .title_aboutus_2{
        font-size: 1.7rem;
    }

    .aboutTextP p{
        font-size: 0.7rem;
    }

}
