.Rentahouse_sec{
    margin: 0;
    height: 100%;
    width: 100%;
}
.mapImg img{
    height: 80%;
    width: 100%;  
  
}

.title_address{
    /* margin-top: 30px; */
    margin-bottom: 40px;
    background-color: #00908E;
    margin-left: 100px;
    border-radius: 10px;
    width: 200px;
    height: 45px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title_address h6{
    color: white;
    font-weight: 700;
    font-size: 15px;
    padding: 10px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.title_address{
    margin-top: -20px;
}

.Rentahouse_sec .Funvin .card_house img{
    /* width: 400px; */
    height: 250px;
    justify-items: center;
    align-items: center;
}
.Rentahouse_sec .Funvin .card_house p{
    text-align: justify;
}
.cardHouse_main{
    justify-content: center;
    align-items: center;
}
.Rentahouse_sec .Funvin .card_house{
    margin-top: 5px;
    margin-bottom: 20px ;
}
.button-readMore{
    margin-right: 30px;
}
.button-readMore button{
    background-color: white;
    color: #00908E;
    font-weight: 700;
    font-size: 13px;
    height: 30px;
    margin-top: 20px;
}
.button-readMore button .icon_readMore{
    display: inline-flex;
    font-size: medium;
}
.dropdown_title{
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: #00908E;
    margin-left: 100px;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dropdown_title .dropdown_element{
    color: white;
    font-weight: 700;
    font-size: 15px;
    padding: 10px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}