.bg-rent-button {
    background-color: #00908E !important;
}
.buttonsRent{
    height: 7vh;
    width: 20vw;
    margin: 0 15px;
    border-radius: 5px;
    background-color: #00908E;
    color: aliceblue;
    border: none;
    box-shadow: 2px 2px 4px black;
    left: 50px;
    position: relative;
}
.func {
    position: relative;
    top: 140px;
}
.readmore11{
    position: relative;
    text-align: right;
    bottom: 50px;
    color: #00908E;
}
@media only screen and (min-width: 250px) and (max-width: 700px){
    
    .buttonsRent{
        width: 42vw;
    }
}
@media only screen and (min-width: 600px) and (max-width: 1000px){
    
    .readmore1{
        position: relative;
        left: 400px;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 2000px){
    
    .readmore1{
        position: relative;
        left: 800px;
    }
}

/* .imgrent{
    position: relative;
    height: 300px;
    width: 400px;
} */