.banner{
    min-height: 500px;
    background: no-repeat;
    background-size: cover!important;
    background-position: center!important;
    position: relative;
    margin: 50px auto;
}

.bg-custom{
    position: absolute;
    background: rgb(29 34 43 / 69%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: #ffffff;
}

.banner-title{
    text-transform: uppercase;
    font-size: 2.5rem;
}

.container{
    margin: auto;
    justify-content: center;
}

.rectangle{
    background-color: #ffffff;
    height: 30%;
    width: 85%;
    color: #161616;
}

.prop-stat{
    border-right: solid #161616 2px;
}

#all-btn{
    background-color: #00908E;
    color:white;
    border-radius: 4px;
    width: 70%;
    height: 50px;
}

.card-body{
    margin: 30px auto;
}

@media (max-width: 991.98px){
    .prop-des{
        display: none;
    }
}