.title_contact_infor{
    font-size: 2.2rem;
    top: 30px;
    color: black;
}
.description_contact {
    font-size: 1.2rem;
    top: 40px;
    color: black;
}

.intro_button_2 {
    border-radius: 5px;
    background-color: #00908E;
    font-size: 0.9rem;
    width: 300px;
    height: 150px;
    padding: 12px;
    color: #fff;
    border: none;
}


/*----------------------------------------*/


@media only screen and (max-width: 990px) {

    .intro_button_2 {
        width: 250px;
        height: 125px;
        padding: 10px;
    }

    .title_contact_infor{
        font-size: 2rem;
    }
    .description_contact {
        font-size: 1rem;
    }

}

@media only screen and (max-width: 768px) {

    .title_contact_infor{
        font-size: 1.7rem;
    }

    .description_contact {
        font-size: 0.9rem;
    }

    .intro_button_2 {
        width: 200px;
        height: 100px;
        padding: 6px;
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 630px) {
    .intro_button_2 {
        width: 180px;
        height: 90px;
    }
}

@media only screen and (max-width: 575px) {

    .title_contact_infor{
        font-size: 1.45rem;
    }

    .description_contact {
        font-size: 0.8rem;
    }

    .intro_button_2 {
        font-size: 0.8rem;
        width: 230px;
        height: 115px;
    }

}

