.buttons_contact{
    overflow-x: hidden;
}

#title1 {
    font-size: 2.5rem;
    top: 30px;
    color: black;
}
#title2 {
    font-size: 1rem;
    top: 40px;
    color: black;
}

.intro_button_2 {
    border-radius: 5px;
    background-color: #00908E;
    font-size: 0.9rem;
    width: 300px;
    height: 150px;
    padding: 12px;
    color: #fff;
    border: none;
}


/*----------------------------------------*/
.img1 , .img2 , .img3{
    height: 40px;
    width: 40px;
}

.contact-area{
    display: flex;
    justify-content: space-around;
}

.contact-block{
    display: flex;
    justify-content: space-around;
}

.box-contact{
    padding: 24px 12px;
}

.contact-top{
    position: relative;
}

.contact_details{
    display: flex;
    justify-content: space-around;
    margin-bottom: 12px;
    padding: 0 100px 0 0;
}

.contact-name{
    background-color: #01918e;
    opacity: 80%;
    width: 60%;
    border-top-left-radius: 25px;
    padding: 8px;
    color: #fff;
    bottom: 0px;
    position: absolute;
}

.image-contact-ava{
    height: 25rem;
    width: 100%;
}

@media only screen and (max-width: 1030px) {

    .img1 , .img2 , .img3{
        height: 35px;
        width: 35px;
    }

    .contact_details{
        padding: 0 50px 0 0;
    }

    .text_contact_details{
        font-size: 0.85rem;
    }

    .text_contact{
        font-size: 2.5rem;
    }

    #title1{
        font-size: 2rem;
    }

}

@media only screen and (max-width: 999px) {

    .contact_details{
        padding: 0 120px 0 0;
    }

    .text_contact_details{
        font-size: 0.8rem;
    }

    .image-contact-ava{
        height: 24rem;
    }

    .contact-name{
        font-size: 0.8rem;
    }

    .contact-block{
        margin-bottom: 12px;
        width: 50%;
    }

    .box{
        margin-bottom: 12px;
    }

    .text_contact{
        font-size: 2.5rem;
    }

    #title1{
        font-size: 2rem;
    }

}

@media only screen and (max-width: 894px) {

    .contact_details{
        padding: 0 70px 0 0;
    }

    .image-contact-ava{
        height: 20rem;
    }

    .contact-block{
        margin-bottom: 12px;
        width: 60%;
    }

    .box{
        margin-bottom: 12px;
    }

    .text_contact{
        font-size: 2.3rem;
    }

    #title2{
        font-size: 0.8rem;
    }

}

@media only screen and (max-width: 654px) {

    .img1 , .img2 , .img3{
        height: 25px;
        width: 25px;
    }

    .contact_details{
        padding: 0 80px 0 0;
    }

    .text_contact_details{
        font-size: 0.65rem;
    }

    .image-contact-ava{
        height: 18rem;
    }

    .contact-name{
        font-size: 0.6rem;
    }

    #title1{
        font-size: 1.8rem;
    }

}

@media only screen and (max-width: 580px) {

    .img1 , .img2 , .img3{
        height: 25px;
        width: 25px;
    }

    .contact_details{
        padding: 0 80px 0 0;
    }

    .text_contact_details{
        font-size: 0.65rem;
    }

    .image-contact-ava{
        height: 22rem;
    }

    .contact-name{
        font-size: 0.6rem;
    }

    .contact-block{
        margin-bottom: 12px;
        width: 70%;
    }

    .text_contact{
        font-size: 2rem;
    }

    #title1{
        font-size: 1.8rem;
    }
}