*,*::after,*::before{
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 1rem;;
}

body{
    font-size: 1.6rem;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3rem;
}

.nav{
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    background: rgba(0, 0, 0, 0.35);
    
}

.brand{
    justify-content: flex-start;
    flex: 0 0 auto;
}

.nav__menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 3rem;
}

.nav__toggler div{
    width: 2rem;
    height: 0.3rem;
    margin: 0.4rem;
    background: gray;
}
.nav__toggler{
    cursor: pointer;
    display: none;
}