.banner{
    min-height: 500px;
    background: no-repeat;
    background-size: cover!important;
    background-position: center!important;
    position: relative;
    margin: 50px auto;
}

.button_nav_home{
    color: #fff;
    text-decoration: none;
}

.button_nav_home:hover{
    color: #fff;
}

.bg-custom{
    position: absolute;
    background: rgb(29 34 43 / 69%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: #ffffff;
}

.banner-title{
    text-transform: uppercase;
    font-size: 2.4rem;
}

.container{
    margin: auto;
    justify-content: center;
}

.rectangle{
    background-color: #ffffff;
    height: 30%;
    width: 85%;
    color: #161616;
}

.prop-stat{
    border-right: solid #161616 2px;
}

.prop-des{
    text-align: justify;
}

#all-btn{
    background-color: #00908E;
    color:white;
    border-radius: 4px;
    width: 70%;
    height: 50px;
}

.card-body{
    margin: 30px auto;
}


@media only screen and (max-width: 1030px){

    .banner-title{
        font-size: 2rem;
    }

    .des{
        font-size: 0.8rem;
    }

}

@media only screen and (max-width: 764px){

    .banner-title{
        font-size: 1.8rem;
    }

    .prop-des{
        display: none;
    }

    .prop-all{
        margin-top: 10px;
    }

    .des{
        font-size: 0.6rem;
    }

    .prop-stat span{
        font-size: 1.2rem;
    }

}
