.cr-img{
    height: 60vh;
}

@media only screen and (max-width: 1030px){
    .cr-img{
        height: 55vh;
    }
}

@media only screen and (max-width: 850px){
    .cr-img{
        height: 50vh;
    }
}

@media only screen and (max-width: 650px){
    .cr-img{
        height: 45vh;
    }
}

@media only screen and (max-width: 520px){
    .cr-img{
        height: 40vh;
    }
}

@media only screen and (max-width: 450px){
    .cr-img{
        height: 35vh;
    }
}

@media only screen and (max-width: 400px){
    .cr-img{
        height: 30vh;
    }
}