.cr-img{
    height: 85vh;
}

@media only screen and (max-width: 1030px){
    .cr-img{
        height: 75vh;
    }
}

@media only screen and (max-width: 600px){
    .cr-img{
        height: 65vh;
    }
}

@media only screen and (max-width: 490px){
    .cr-img{
        height: 55vh;
    }
}