.intro{
    background-image: url(./background.jpg);
    height: 450px;
    background-size: cover;
    background-position: center;
}

.button_nav_home{
    color: #fff;
    text-decoration: none;
    font-size: 1.25rem;
}

.button_nav_home:hover{
    color: #fff;
}

.intro_container{
    height: 100%;
    background: rgb(29 34 43 / 25%);
    padding: 60px 50px 0 50px;
}

#title {
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    top: 100px;
    text-shadow: 0.5rem 0.5rem 0.8rem #000000;
}

.intro_button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-top: 100px;
}

.navbutton {
    height: 150px;
    width: calc(100% / 3 - 100px);
    border-radius: 5px;
    background-color: #00908E;
    color: aliceblue;
    text-transform: uppercase;
    border: none;
    box-shadow: 2px 2px 4px black;  
}

.navbutton_middle{
    margin: 0 100px;
}

.navbutton:hover {
    color: #FF718E;
}


@media only screen and (max-width: 1030px){
    .navbutton_middle{
        margin: 0 50px;
    }

    .navbutton {
        width: calc(100% / 3 - 50px);
    }

    .button_nav_home{
        font-size: 1.15rem;
    }
}

@media only screen and (max-width: 800px){
    .navbutton_middle{
        margin: 0 30px;
    }

    .navbutton {
        width: calc(100% / 3 - 30px);
        height: 120px;
    }

    .intro_container{
        padding-top: 80px;
    }

    .intro{
        height: 420px;
    }
}

@media only screen and (max-width: 700px){
    .navbutton_middle{
        margin: 0 30px;
    }

    .navbutton {
        width: calc(100% / 3 - 30px);
        height: 120px;
    }

    .navbutton a{
        font-size: 0.85rem;
    }

    #title{
        font-size: 1.7rem;
    }

    .intro{
        height: 400px;
    }

    .intro_button{
        margin-top: 80px;
    }
}

@media only screen and (max-width: 600px){
    .navbutton_middle{
        margin: 0 30px;
    }

    .navbutton {
        width: calc(100% / 3 - 30px);
        height: 110px;
    }

    .navbutton a{
        font-size: 0.75rem;
    }

    #title{
        font-size: 1.6rem;
    }

    .intro{
        height: 380px;
    }
}

@media only screen and (max-width: 550px){
    .navbutton_middle{
        margin: 0 20px;
    }

    .navbutton {
        width: calc(100% / 3 - 20px);
        height: 100px;
    }

    .navbutton a{
        font-size: 0.65rem;
    }

    #title{
        font-size: 1.5rem;
    }

    .intro{
        height: 350px;
    }
}

@media only screen and (max-width: 480px){
    .intro_container{
        padding-top: 70px;
    }

    .navbutton {
        height: 80px;
    }

    .navbutton a{
        font-size: 0.55rem;
    }

    #title{
        font-size: 1.3rem;
    }

    .intro{
        height: 320px;
    }
}

@media only screen and (max-width: 430px){

    .intro_container{
        padding-top: 80px;
    }

    .navbutton a{
        font-size: 0.4rem;
    }

    .navbutton {
        height: 60px;
    }

    #title{
        font-size: 1.1rem;
    }

    .intro{
        height: 300px;
    }

    .navbutton_middle{
        margin: 0 10px;
    }

    .navbutton {
        width: calc(100% / 3 - 10px);
    }
}