
.slider_area{
    position: relative;
}
/*----------------------------------*/
.in_slider_area{
    display: flex;
    position: absolute;
    bottom: 0px;
    z-index: 1000;
    width: 100%;
    padding: 0 100px 0 125px;
}

.in_slider_area .in_slider_display{
    background-color: #fff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 10px 30px;
}

.in_slider_display img{
    margin-right: 20px;
}

.in_slider_display span{
    font-weight: 700;
}

.in_slider_display_photo{
    display: flex;
    justify-content: space-between;
}

.button_pagination_area{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.button_pagination_area button{
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
}

.not_display{
    visibility: hidden;
}

/*----------------------------------*/

.apart_detail_area{
    padding: 0 125px;
    background-color: #f1f1f1;
}

.apart_detail_area_left, .apart_detail_area_middle, .apart_detail_area_right{
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.apart_detail_area_left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.apart_detail_area_left_block{
    border-right: 2px solid #9c9d9d;
    width: 100%;
}

.apart_detail_area_left_block span{
    font-weight: 800;
    color: #9c9d9d;
}

.apart_detail_area_left_block p{
    font-weight: 700;
    font-size: 1.5rem;
}

.apart_name span{
    font-weight: 700;
    font-size: 1.3rem;
}

.apart_detail_area_middle div{
    margin-bottom: 12px;
}

.apart_detail_icon_infor .title_icon{
    color: #9d9c9d;
    font-weight: 600;
}

.apart_detail_icon_infor .title_icon .number{
    color: black;
    font-weight: 700;
}

.apart_detail_icon_infor{
    display: flex;
    justify-content: space-between;
}

.icon_details{
    height: 20px;
    width: 20px;
}

.apart_detail_area_right_1, .apart_detail_area_right_2{
    display: flex;
}

.apart_detail_area_right_1 div, .apart_detail_area_right_2 div{
    width: 50%;
}

.apart_detail_area_right_2{
    border-left: 2px solid #9c9d9d;
    padding: 6.5px 0;
}

.apart_detail_area_right_1 div span,.apart_detail_area_right_2 div span, .apart_detail_area_right_3 span{
    font-weight: 800;
    color: #9c9d9d;
    font-size: 0.9rem;
}

.apart_detail_area_right_1 div p, .apart_detail_area_right_2 div p, .apart_detail_area_right_3 p{
    font-size: 0.95rem;
}

/*----------------------------------*/
.cr-img{
    height: 85vh;
}

@media only screen and (max-width: 1030px){
    .cr-img{
        height: 75vh;
    }
}

@media only screen and (max-width: 600px){
    .cr-img{
        height: 65vh;
    }
}

@media only screen and (max-width: 490px){
    .cr-img{
        height: 55vh;
    }
}