.footer {
    padding: 4rem 0;
    background: #FFFFFF;
    color: #393a42;
}

.footer .fa-instagram,
.footer .fa-facebook,
.footer .fa-twitter {
    /* color: #393a42 !important; */
    font-size: 22px;
}

.footer-title {
    font-size: 21px;
    font-weight: bold;
    color: #104C48;
}

.footer-ul {
    margin: 0;
    padding: 0;
}

.footer-ul li {
    list-style: none;
    margin-left: 0;
    margin-bottom: 10px;
}

.footer-ul li :hover{
    color: #FF718E;
}

.footer-ul a{
    color: #393a42;
    text-decoration: none;
}

.footer-other-text {
    font-size: 15px;
    color: #393a42;
}

.fa-home {
    font-size: 30px
}

.footer .fa-facebook-f,
.footer .fa-twitter,
.footer .fa-instagram {
    color: #FFFFFF !important;
    font-size: 20px;
}

.inp-footer {
    outline: 0;
    border: 0;
}

.footer-social {
    display: flex;
    margin: 0 0 16px;
}

.footer-social-item {
    width: 45px;
    height: 45px;
    margin: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 50%;
}

.footer-info-item {
    width: 25px;
}

.footer span {
    text-align: left;
}

.contact-btn {
    margin: 15px auto;
    background-color: transparent;
    padding: 15px 30px;
    border-radius: 4px;
    border: solid #FFFFFF 2px;
    color: #FFFFFF;
}

.contact-title {
    font-size: 2.1rem;
}

.fbicon{
    background: #4267B2;
}

.twticon{
    background: #00ACED;
}

.igicon{
    background: #C13584;
}

@media only screen and (max-width: 700px) {

    .contact-title {
        font-size: 2rem;
    }

    .contact-btn {
        margin: 15px auto;
        padding: 12px 25px;
    }

    .infor-company{
        font-size: 0.8rem;
    }

    .footer-social-item {
        width: 35px;
        height: 35px;
    }
}

@media only screen and (max-width: 440px) {

    .contact-title {
        font-size: 1.8rem;
    }

    .contact-btn {
        margin: 15px auto;
        padding: 10px 20px;
    }

    .infor-company{
        font-size: 0.65rem;
    }

    .footer-social-item {
        width: 30px;
        height: 30px;
    }

    .footer-title{
        font-size: 1rem;
    }
}