.section_service_list{
    padding-top: 30px;
}

.sv{
    width: 90%;
    margin: auto auto 30px;
    position: relative;
    border-radius: 4px;
    outline: 1px solid red;
    outline-offset: 3px;
}

.button_nav_home{
    color: #fff;
    text-decoration: none;
}

.button_nav_home:hover{
    color: #fff;
}

.sv-image img{
    width: 100%;
    min-height: 100px;
    object-fit:cover;
    overflow: hidden;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.sv-description{
    display: block;
    padding: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 120px;
}

.sv-text{
    height: 35px;
    font-size: 0.9rem;
}


#btn-detail{
    background-color: #00908E;
    color:white;
    border-radius: 4px;
    width: 90%;
    position: relative;
    bottom: 0;
}

#btn-detail a{
    font-size: 0.9rem;
}