.bg-green {
    background-color:  #00908E !important;
}
.bg-gray {
    background-color: #F0F0F0 !important;
}
.prevNext_news{
    justify-content: space-between;
    align-items: center;
    display: list-item;
}
.left_news {
    border-radius: 5px;
    padding: 10px;
    background-color:#00908E;
    color: white;
    width: 60px;
    height: 35px;
    margin-right: 200px;
    cursor: pointer;

}
.right_news {
    border-radius: 5px;
    padding: 10px;
    background-color:#00908E;
    color: white;
    width: 60px;
    height: 35px;
    cursor: pointer;
    
}
.lastest {
    font-size: 3rem;
    top: 100px;
}
.all_buttons_news{
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
}
.buttons_news{
    padding: 12px ;
}

.card_title_news, .card_text_news{
    text-align: justify;
}

.news_information{
    display: flex;
    justify-content: space-between;
}

.cart_body_news{
    padding: 50px 30px;
}

.img_card_news{
    height: 200px;
}

@media only screen and (max-width: 1100px){

    .lastest{
        font-size: 2.5rem;
    }

    .card_text_news{
        font-size: 0.8rem;
    }

    .news_information div{
        font-size: 0.8rem;
    }

    .card_title_news{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 768px){

    .lastest{
        font-size: 2rem;
    }

    .box-news{
        width: 70%;
    }

    .buttons_news{
        display: flex;
        justify-content: center;
    }

}

@media only screen and (max-width: 475px){

    .news_information{
        display: block;
    }

    .news_information div{
        margin-bottom: 10px;
    }
    
}