.bg-green {
    background-color:  #00908E !important;
}
.bg-gray {
    background-color: #F0F0F0 !important;
}
.prevNext_news{
    justify-content: space-between;
    align-items: center;
    display: list-item;
}
.left_news {
    border-radius: 5px;
    padding: 10px;
    background-color:#00908E;
    color: white;
    width: 60px;
    height: 35px;
    margin-right: 200px;
    cursor: pointer;

}
.right_news {
    border-radius: 5px;
    padding: 10px;
    background-color:#00908E;
    color: white;
    width: 60px;
    height: 35px;
    cursor: pointer;
    
}
/* .text{
    top: 70px;
    position: relative;
} */
.lastest {
    font-size: 3rem;
    top: 100px;
    position: relative;
}
.all_buttons_news{
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    position: relative;
}
.buttons_news{
    padding: 35px ;
}
.img_card_news{
    height: 200px;
}
.card_body_news{
    height: 180px;
}
.card_title_news, .card_text_news{
    text-align: justify;
}

.news_information{
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 1100px){

    .lastest{
        font-size: 2.5rem;
    }

    .card_body_news{
        height: 220px;
    }
    .card_text_news{
        font-size: 0.8rem;
    }

    .news_information span{
        font-size: 0.8rem;
    }

    .card_title_news{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 899px){

    .lastest{
        font-size: 2rem;
    }
}

