.intro_news .news_details_title{
    font-size: 2.5rem;
}

.news_details_sub_infor span{
    padding: 12px;
}


/*------------------------*/

.section-all-re{
    padding-top: 70px;
    padding-bottom: 70px;
}

.title_news{
    text-decoration: none;
    color: #202020;
}

.news{
    width: 95%;
    margin: auto auto 30px;
    position: relative;
    border-radius: 4px;
}

.news-image img{
    width: 100%;
    min-height: 200px;
    object-fit:cover;
    overflow: hidden;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.news-description{
    display: block;
    padding: 15px;
    background-color: #f6f6f6;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 220px;
    text-align: justify;
}

.news-start{
    margin-bottom: 30px;
}

.news-start h2{
    font-size: 2.3rem;
    font-weight: 500;
    text-align: justify;
    text-transform: uppercase;
    padding: 20px;
}

.news-start a{
    border-bottom: solid #161616 2px;
}

@media only screen and (max-width: 1100px){

    .news-start h2{
        font-size: 2rem;
    }

    .news-text h4 a{
        font-size: 1.3rem;
    }

    .news-text .news-intro{
        font-size: 0.9rem;
    }

    .news-infor span{
        font-size: 0.8rem;
    }
    
}

@media only screen and (max-width: 699px){

    .news-start h2{
        font-size: 1.8rem;
    }

    .news-text h4 a{
        font-size: 1.1rem;
    }

    .news-text .news-intro{
        font-size: 0.75rem;
    }

    .news-infor span{
        font-size: 0.7rem;
    }
    
}

@media only screen and (max-width: 410px){

    .news-description{
        height: 200px;
    }

}