.item-image{
    overflow: hidden;  
}
.item-image img{
    min-height: 240px;
    width: 100%;
    max-height: 240px;
    object-fit:cover;
    overflow: hidden;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.item{
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

.item-description{
    padding:15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  
}
.item-description div:nth-child(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.section-all-re .item-title{
    font-weight: 600;
    text-align: left;
    color: #364465;
}
.section-all-re .item-price{
    font-weight: bold;
    min-width: 100px;
    font-size: 25px;
    color: #364465;
}
.item .fas{
    color:#364465
}
.item-icon{
    color:black;
    font-weight: 500;
    font-size: 15px;
    display: flex;align-items: center;
}