.header-wrapper {
    background: white;
    border-bottom: 1px solid #D1D1D5;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .4);
    margin-bottom: .5px;

}
  
header {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    height: 80px;
    width: auto;
    padding: 0 30px;
    margin: 0 auto;
    border-bottom: solid #00908E;
}
  
.logo {
    display: cover;
    justify-content: center;
    align-items: center;
}

.logo img {
    position: relative;
    height: 78px;
    display: flex;
}

.left-nav a, .right-nav a {
    color: #000000;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 0.7rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
}

.left-nav a, .right-nav a {
    margin: 0 2vw;
}

.upper-nav a{
    margin: 0 7vw;
    font-weight: 400;
}

.upper-nav{
    display: flex;
}

.left-nav, .right-nav{
    margin: 0 2vw;
    display: flex;
    justify-content: space-between;
}

.left-nav :hover, .right-nav :hover {
    color: #FF718E;
}

.nav-item{
    overflow-wrap: break-word;
}
    
