/*UPPER AREA*/

.upper_nav_area .upper_nav_list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid #00908E;
}

.upper_nav_area .upper_nav_list a{
    text-decoration: none;
    color: #1e293b;
    font-size: 1.1rem;
}

.upper_nav_area .upper_nav_list a:hover{
    color: #ef4444;
}

/*---------*/

/*NAVBAR AREA*/

.nav_bar_area{
    border-bottom: 5px solid #00908E;
}

.nav_bar_list{
    width: 100%;
}

.nav_bar_area .nav_bar_list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}

.nav_middle{
    height: 70px;
    width: 6%;
}

.nav_middle img{
    height: 100%;
    width: 100%;
}

.nav_left, .nav_right{
    width: 47%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_left a, .nav_right a{
    text-decoration: none;
    color: #1e293b;
}

.nav_left a:hover, .nav_right a:hover{
    color: #ef4444;
}

/*-----------*/